
  <style> @import url('https://fonts.googleapis.com/css?family=Montserrat:700,400&display=swap'); </style>
  <style> .gps-512092045779665832 .gp-rotate-0,.gps-512092045779665832 .gp-rotate-180,.gps-512092045779665832 .mobile\:gp-rotate-0,.gps-512092045779665832 .mobile\:gp-rotate-180,.gps-512092045779665832 .tablet\:gp-rotate-0,.gps-512092045779665832 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-512092045779665832 .gp-shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-512092045779665832 .gp-g-s-icon-medium{padding:16px}.gps-512092045779665832 .gp-relative{position:relative}.gps-512092045779665832 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-512092045779665832 .gp-my-0{margin-bottom:0;margin-top:0}.gps-512092045779665832 .gp-mb-0{margin-bottom:0}.gps-512092045779665832 .gp-block{display:block}.gps-512092045779665832 .gp-flex{display:flex}.gps-512092045779665832 .gp-inline-flex{display:inline-flex}.gps-512092045779665832 .gp-grid{display:grid}.gps-512092045779665832 .\!gp-hidden{display:none!important}.gps-512092045779665832 .gp-hidden{display:none}.gps-512092045779665832 .gp-aspect-square{aspect-ratio:1/1}.gps-512092045779665832 .gp-h-full{height:100%}.gps-512092045779665832 .\!gp-min-h-full{min-height:100%!important}.gps-512092045779665832 .gp-w-\[12px\]{width:12px}.gps-512092045779665832 .gp-w-full{width:100%}.gps-512092045779665832 .gp-max-w-full{max-width:100%}.gps-512092045779665832 .gp-shrink-0{flex-shrink:0}.gps-512092045779665832 .gp-rotate-0{--tw-rotate:0deg}.gps-512092045779665832 .gp-rotate-0,.gps-512092045779665832 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-512092045779665832 .gp-rotate-180{--tw-rotate:180deg}.gps-512092045779665832 .gp-cursor-pointer{cursor:pointer}.gps-512092045779665832 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-512092045779665832 .\!gp-flex-row{flex-direction:row!important}.gps-512092045779665832 .gp-flex-row{flex-direction:row}.gps-512092045779665832 .gp-flex-col{flex-direction:column}.gps-512092045779665832 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-512092045779665832 .gp-items-center{align-items:center}.gps-512092045779665832 .gp-justify-center{justify-content:center}.gps-512092045779665832 .gp-justify-between{justify-content:space-between}.gps-512092045779665832 .gp-gap-2{gap:8px}.gps-512092045779665832 .gp-gap-y-0{row-gap:0}.gps-512092045779665832 .gp-overflow-hidden{overflow:hidden}.gps-512092045779665832 .gp-rounded-full{border-radius:9999px}.gps-512092045779665832 .gp-text-center{text-align:center}.gps-512092045779665832 .gp-leading-\[0\]{line-height:0}.gps-512092045779665832 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-512092045779665832 .gp-shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-512092045779665832 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-512092045779665832 .gp-duration-200{transition-duration:.2s}.gps-512092045779665832 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-512092045779665832 .tablet\:gp-block{display:block}.gps-512092045779665832 .tablet\:\!gp-hidden{display:none!important}.gps-512092045779665832 .tablet\:gp-hidden{display:none}.gps-512092045779665832 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-512092045779665832 .tablet\:gp-w-full{width:100%}.gps-512092045779665832 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-512092045779665832 .tablet\:gp-rotate-0,.gps-512092045779665832 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-512092045779665832 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-512092045779665832 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-512092045779665832 .tablet\:gp-flex-row{flex-direction:row}.gps-512092045779665832 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-512092045779665832 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-512092045779665832 .mobile\:gp-block{display:block}.gps-512092045779665832 .mobile\:\!gp-hidden{display:none!important}.gps-512092045779665832 .mobile\:gp-hidden{display:none}.gps-512092045779665832 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-512092045779665832 .mobile\:gp-w-full{width:100%}.gps-512092045779665832 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-512092045779665832 .mobile\:gp-rotate-0,.gps-512092045779665832 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-512092045779665832 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-512092045779665832 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-512092045779665832 .mobile\:gp-flex-row{flex-direction:row}.gps-512092045779665832 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-512092045779665832 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-512092045779665832 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-512092045779665832 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-512092045779665832 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-512092045779665832 .\[\&\>svg\]\:gp-w-full>svg{width:100%}@media (max-width:1023px){.gps-512092045779665832 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-512092045779665832 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-512092045779665832 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-512092045779665832 .\[\&_p\]\:gp-inline p{display:inline}.gps-512092045779665832 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-512092045779665832 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gadxAnKT61"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:50px;--pb:50px;--pt-mobile:30px;--pl-mobile:15px;--pb-mobile:30px;--pr-mobile:15px;--pt-tablet:50px;--pl-tablet:10px;--pb-tablet:50px;--pr-tablet:10px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F7F7F7;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gadxAnKT61 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="guCpHwoB3M gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gJcUBwmb4W"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJcUBwmb4W gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g4Nk2srY9p gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gdT9HDwCvL "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:10px;--ml-mobile:0px;--mb-mobile:5px;--mr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--weight:700;--lh:120%;--size:30px;--size-tablet:35px;--size-mobile:22px;--c:var(--g-c-text-2, text-2);--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggdT9HDwCvL_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gVS1dMXdF0 "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ml-mobile:50px;--mb-mobile:var(--g-s-l);--mr-mobile:50px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--lh:26px;--size:24px;--size-tablet:16px;--size-mobile:18px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggVS1dMXdF0_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gnvU0DZW3L "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ml-mobile:0px;--mb-mobile:var(--g-s-l);--mr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--lh:26px;--size:24px;--size-tablet:16px;--size-mobile:18px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggnvU0DZW3L_text }}</div>
      </div>
    </div>
    <gp-carousel  id="gp-root-carousel-gj7upp3Hi3-{{section.id}}" class="  gp-group/carousel gp-flex" gp-data='{"id":"gj7upp3Hi3-{{section.id}}","setting":{"animationMode":"ease-in","arrowBackgroundColor":"transparent","arrowBorder":{"desktop":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"arrowButtonSize":{"desktop":{"height":"32px","padding":{"linked":true},"shapeLinked":true,"shapeValue":"1/1","width":"32px"}},"arrowCustom":"<svg width=\"20\" height=\"20\" viewBox=\"0 0 20 20\" fill=\"currentColor\" xmlns=\"http://www.w3.org/2000/svg\">\n              <path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z\"/>\n              </svg>\n              ","arrowCustomColor":"#000000","arrowGapToEachSide":"16","arrowIconSize":{"desktop":24},"autoplay":true,"autoplayTimeout":5,"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"childItem":["Slide 1","Slide 2","Slide 3","Slide 4","Slide 5","Slide 6"],"controlOverContent":{"desktop":true},"dot":{"desktop":true,"mobile":true,"tablet":true},"dotActiveColor":{"desktop":"#451E5D"},"dotColor":{"desktop":"#999999"},"dotGapToCarousel":{"desktop":16},"dotSize":{"desktop":12},"dotStyle":{"desktop":"none"},"enableDrag":{"desktop":true},"itemNumber":{"desktop":3,"mobile":1},"label":true,"loop":{"desktop":true},"navigationStyle":{"desktop":"none"},"pauseOnHover":true,"roundedArrow":{"desktop":{"radiusType":"small"}},"runPreview":false,"showWhenHover":false,"sneakPeak":{"desktop":false},"sneakPeakOffsetCenter":{"desktop":50},"sneakPeakOffsetForward":{"desktop":50},"sneakPeakType":{"desktop":"forward"},"vertical":{"desktop":false}},"styles":{"align":{"desktop":"center"},"borderContent":{"border":"none","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"position":"all","width":"1px 1px 1px 1px"},"carouselShadow":{"angle":90,"blur":"12px","color":"#121212","distance":"4px","spread":"0px","type":"shadow-1"},"fullWidth":{"desktop":false,"mobile":false,"tablet":false},"hasActiveShadow":false,"playSpeed":500,"roundedContent":{"radiusType":"none"},"sizeSetting":{"desktop":{"height":"auto","shapeLinked":false,"width":"default"}},"spacing":{"desktop":"12"}},"isHiddenArrowWhenDisabled":true}' style="--jc:center">
      <div class="gp-hidden gp-aspect-square gp-w-[12px] gp-rounded-full gp-shadow-md"></div>
      <div
        
        class="gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block gj7upp3Hi3"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:10px;--pb:0px;--mt-mobile:-5px;--pb-mobile:0px;--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:var(--g-ct-w);--h:auto;--h-tablet:auto;--h-mobile:auto"
      >
        <div
          class="gp-h-full gp-relative gp-mx-auto gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row"
          style="--h:100%;--h-tablet:100%;--h-mobile:100%;gap:16px"
        >
          
    <button
      type="button"
      aria-label='Carousel Back Arrow'
      class="gp-carousel-action-back gem-slider-previous gj7upp3Hi3-{{section.id}} gp-carousel-arrow-gj7upp3Hi3 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-hidden tablet:!gp-hidden mobile:!gp-hidden"
      style="--left:initial;--top:initial;--right:initial;--bottom:;--left-tablet:initial;--top-tablet:initial;--right-tablet:initial;--bottom-tablet:;--left-mobile:initial;--top-mobile:initial;--right-mobile:initial;--bottom-mobile:;--d:none;--d-tablet:none;--d-mobile:none;background-color:transparent;--w:32px;--h:32px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180"
  style="--c:#000000;--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
  >
    <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z"/>
              </svg>
              
    </div>
      <style>
    .gp-carousel-arrow-gj7upp3Hi3 {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-gj7upp3Hi3::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      .gp-carousel-arrow-gj7upp3Hi3 {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gj7upp3Hi3::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-gj7upp3Hi3 {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gj7upp3Hi3::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
          <div id="gp-carousel-gj7upp3Hi3-{{section.id}}" class="gem-slider gp-h-full gp-overflow-hidden gp-select-none mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full"
          style="--cg-mobile:12px;--cg-tablet:12px;--cg:12px">
          
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 3 - 8px);--minw-tablet:calc(100% / 3 - 8px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 3 - 8px);--maxw-tablet:calc(100% / 3 - 8px);--maxw-mobile:calc(100% / 1 - 0px);--animation:[object Object];--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- ghziu6CyRN"
    >
      
      
      
    <div
      parentTag="CarouselItem" id="gDRKdnd75D"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:10px;--pl:10px;--pb:10px;--pr:10px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gDRKdnd75D gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gv7ulDEN4x gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:12px;--ta:center"
      class="gp-leading-[0] g4JNusbrWl"
    >
      <div class="gp-inline-flex gp-overflow-hidden gp-g-s-icon-medium"
      style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#DDDDDD;--bg:#FFFFFF"
      >
      <div
      
    >
      <span
        style="--c:#451E5D;--t:rotate(0deg);--w:30px;--h:30px;--minw:30px;--height-desktop:30px;--height-tablet:30px;--height-mobile:30px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817752786010472">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M116,72v88a48.05,48.05,0,0,1-48,48,8,8,0,0,1,0-16,32,32,0,0,0,32-32v-8H40a16,16,0,0,1-16-16V72A16,16,0,0,1,40,56h60A16,16,0,0,1,116,72ZM216,56H156a16,16,0,0,0-16,16v64a16,16,0,0,0,16,16h60v8a32,32,0,0,1-32,32,8,8,0,0,0,0,16,48.05,48.05,0,0,0,48-48V72A16,16,0,0,0,216,56Z" /></svg></span>
    </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gEKEFa-11S "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--lh:26px;--size:18px;--size-tablet:16px;--size-mobile:16px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggEKEFa-11S_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gkR2_XZ7Bo "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:12px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:italic;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggkR2_XZ7Bo_text }}</h2>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 3 - 8px);--minw-tablet:calc(100% / 3 - 8px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 3 - 8px);--maxw-tablet:calc(100% / 3 - 8px);--maxw-mobile:calc(100% / 1 - 0px);--animation:[object Object];--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gCY1ajYNJR"
    >
      
      
      
    <div
      parentTag="CarouselItem" id="gAo85kAMKy"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:10px;--pl:10px;--pb:10px;--pr:10px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAo85kAMKy gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gfoGs7Kpw7 gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:12px;--ta:center"
      class="gp-leading-[0] g2OOpewlrx"
    >
      <div class="gp-inline-flex gp-overflow-hidden gp-g-s-icon-medium"
      style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#DDDDDD;--bg:#FFFFFF"
      >
      <div
      
    >
      <span
        style="--c:#451E5D;--t:rotate(0deg);--w:30px;--h:30px;--minw:30px;--height-desktop:30px;--height-tablet:30px;--height-mobile:30px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817752786010472">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M116,72v88a48.05,48.05,0,0,1-48,48,8,8,0,0,1,0-16,32,32,0,0,0,32-32v-8H40a16,16,0,0,1-16-16V72A16,16,0,0,1,40,56h60A16,16,0,0,1,116,72ZM216,56H156a16,16,0,0,0-16,16v64a16,16,0,0,0,16,16h60v8a32,32,0,0,1-32,32,8,8,0,0,0,0,16,48.05,48.05,0,0,0,48-48V72A16,16,0,0,0,216,56Z" /></svg></span>
    </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gmgRtFUqba "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--lh:26px;--size:18px;--size-tablet:16px;--size-mobile:16px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggmgRtFUqba_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g5TsyR6hkw "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:12px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:italic;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg5TsyR6hkw_text }}</h2>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 3 - 8px);--minw-tablet:calc(100% / 3 - 8px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 3 - 8px);--maxw-tablet:calc(100% / 3 - 8px);--maxw-mobile:calc(100% / 1 - 0px);--animation:[object Object];--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- g-rU3-7tg1"
    >
      
      
      
    <div
      parentTag="CarouselItem" id="gi9B-g7qYY"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:10px;--pl:10px;--pb:10px;--pr:10px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gi9B-g7qYY gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gGOo-cgBZ4 gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:12px;--ta:center"
      class="gp-leading-[0] gg2xSeAf6c"
    >
      <div class="gp-inline-flex gp-overflow-hidden gp-g-s-icon-medium"
      style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#DDDDDD;--bg:#FFFFFF"
      >
      <div
      
    >
      <span
        style="--c:#451E5D;--t:rotate(0deg);--w:30px;--h:30px;--minw:30px;--height-desktop:30px;--height-tablet:30px;--height-mobile:30px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817752786010472">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M116,72v88a48.05,48.05,0,0,1-48,48,8,8,0,0,1,0-16,32,32,0,0,0,32-32v-8H40a16,16,0,0,1-16-16V72A16,16,0,0,1,40,56h60A16,16,0,0,1,116,72ZM216,56H156a16,16,0,0,0-16,16v64a16,16,0,0,0,16,16h60v8a32,32,0,0,1-32,32,8,8,0,0,0,0,16,48.05,48.05,0,0,0,48-48V72A16,16,0,0,0,216,56Z" /></svg></span>
    </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gpiQ450GvZ "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--lh:26px;--size:18px;--size-tablet:16px;--size-mobile:16px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggpiQ450GvZ_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g681cipgI5 "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:12px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg681cipgI5_text }}</h2>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 3 - 8px);--minw-tablet:calc(100% / 3 - 8px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 3 - 8px);--maxw-tablet:calc(100% / 3 - 8px);--maxw-mobile:calc(100% / 1 - 0px);--animation:[object Object];--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- g6gwCJp7K6"
    >
      
      
      
    <div
      parentTag="CarouselItem" id="gnTULmuG9z"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:10px;--pl:10px;--pb:10px;--pr:10px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gnTULmuG9z gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gbEHdyP1IW gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:12px;--ta:center"
      class="gp-leading-[0] gBESPsKu83"
    >
      <div class="gp-inline-flex gp-overflow-hidden gp-g-s-icon-medium"
      style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#DDDDDD;--bg:#FFFFFF"
      >
      <div
      
    >
      <span
        style="--c:#451E5D;--t:rotate(0deg);--w:30px;--h:30px;--minw:30px;--height-desktop:30px;--height-tablet:30px;--height-mobile:30px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817752786010472">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M116,72v88a48.05,48.05,0,0,1-48,48,8,8,0,0,1,0-16,32,32,0,0,0,32-32v-8H40a16,16,0,0,1-16-16V72A16,16,0,0,1,40,56h60A16,16,0,0,1,116,72ZM216,56H156a16,16,0,0,0-16,16v64a16,16,0,0,0,16,16h60v8a32,32,0,0,1-32,32,8,8,0,0,0,0,16,48.05,48.05,0,0,0,48-48V72A16,16,0,0,0,216,56Z" /></svg></span>
    </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g4fpfR93aX "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--lh:26px;--size:18px;--size-tablet:16px;--size-mobile:16px;--fs:italic;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg4fpfR93aX_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gnwViWnXem "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:12px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggnwViWnXem_text }}</h2>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 3 - 8px);--minw-tablet:calc(100% / 3 - 8px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 3 - 8px);--maxw-tablet:calc(100% / 3 - 8px);--maxw-mobile:calc(100% / 1 - 0px);--animation:[object Object];--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gJ5jPj_fmM"
    >
      
      
      
    <div
      parentTag="CarouselItem" id="gqsnn6fvvn"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:10px;--pl:10px;--pb:10px;--pr:10px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gqsnn6fvvn gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gBqAzQSFs5 gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:12px;--ta:center"
      class="gp-leading-[0] g3CoDJ8sk5"
    >
      <div class="gp-inline-flex gp-overflow-hidden gp-g-s-icon-medium"
      style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#DDDDDD;--bg:#FFFFFF"
      >
      <div
      
    >
      <span
        style="--c:#451E5D;--t:rotate(0deg);--w:30px;--h:30px;--minw:30px;--height-desktop:30px;--height-tablet:30px;--height-mobile:30px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817752786010472">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M116,72v88a48.05,48.05,0,0,1-48,48,8,8,0,0,1,0-16,32,32,0,0,0,32-32v-8H40a16,16,0,0,1-16-16V72A16,16,0,0,1,40,56h60A16,16,0,0,1,116,72ZM216,56H156a16,16,0,0,0-16,16v64a16,16,0,0,0,16,16h60v8a32,32,0,0,1-32,32,8,8,0,0,0,0,16,48.05,48.05,0,0,0,48-48V72A16,16,0,0,0,216,56Z" /></svg></span>
    </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gTM64s0CAM "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--lh:26px;--size:18px;--size-tablet:16px;--size-mobile:16px;--fs:italic;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggTM64s0CAM_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g_AMyfwrVx "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:12px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg_AMyfwrVx_text }}</h2>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 3 - 8px);--minw-tablet:calc(100% / 3 - 8px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 3 - 8px);--maxw-tablet:calc(100% / 3 - 8px);--maxw-mobile:calc(100% / 1 - 0px);--animation:[object Object];--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- g8Fm_XByGa"
    >
      
      
      
    <div
      parentTag="CarouselItem" id="gAi-QzB9Uk"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:10px;--pl:10px;--pb:10px;--pr:10px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAi-QzB9Uk gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gNhnl1PHN8 gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:12px;--ta:center"
      class="gp-leading-[0] gE0xQcs6Tr"
    >
      <div class="gp-inline-flex gp-overflow-hidden gp-g-s-icon-medium"
      style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#DDDDDD;--bg:#FFFFFF"
      >
      <div
      
    >
      <span
        style="--c:#451E5D;--t:rotate(0deg);--w:30px;--h:30px;--minw:30px;--height-desktop:30px;--height-tablet:30px;--height-mobile:30px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817752786010472">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M116,72v88a48.05,48.05,0,0,1-48,48,8,8,0,0,1,0-16,32,32,0,0,0,32-32v-8H40a16,16,0,0,1-16-16V72A16,16,0,0,1,40,56h60A16,16,0,0,1,116,72ZM216,56H156a16,16,0,0,0-16,16v64a16,16,0,0,0,16,16h60v8a32,32,0,0,1-32,32,8,8,0,0,0,0,16,48.05,48.05,0,0,0,48-48V72A16,16,0,0,0,216,56Z" /></svg></span>
    </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="goNldwTyrv "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--lh:26px;--size:18px;--size-tablet:16px;--size-mobile:16px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggoNldwTyrv_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gGPSMWZwbH "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:12px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggGPSMWZwbH_text }}</h2>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
  
          </div>
          
    <button
      type="button"
      aria-label='Carousel Next Arrow'
      class="gp-carousel-action-next gem-slider-next gj7upp3Hi3-{{section.id}} gp-carousel-arrow-gj7upp3Hi3 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-hidden tablet:!gp-hidden mobile:!gp-hidden"
      style="--left:initial;--top:;--right:initial;--bottom:initial;--left-tablet:initial;--top-tablet:;--right-tablet:initial;--bottom-tablet:initial;--left-mobile:initial;--top-mobile:;--right-mobile:initial;--bottom-mobile:initial;--d:none;--d-tablet:none;--d-mobile:none;background-color:transparent;--w:32px;--h:32px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0"
  style="--c:#000000;--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
  >
    <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z"/>
              </svg>
              
    </div>
      <style>
    .gp-carousel-arrow-gj7upp3Hi3 {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-gj7upp3Hi3::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      .gp-carousel-arrow-gj7upp3Hi3 {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gj7upp3Hi3::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-gj7upp3Hi3 {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gj7upp3Hi3::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
        </div>
        <div
    class="gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-carousel-dot-container gp-carousel-dot-container-gj7upp3Hi3-{{section.id}} gp-flex-row gp-w-full tablet:gp-flex-row tablet:gp-w-full mobile:gp-flex-row mobile:gp-w-full"
    style="--bottom:16px;--bottom-tablet:16px;--bottom-mobile:16px;--d:none;--d-tablet:none;--d-mobile:none"
 ></div>
      </div>
    </gp-carousel>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-carousel-v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 4",
      "tag": "section",
      "class": "gps-512092045779665832 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/add-on-design/apps/bold/app/shopify/edit?pageType=GP_INDEX&editorId=512092045729399720&sectionId=512092045779665832)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"},{"type":"text","id":"ggdT9HDwCvL_text","label":"ggdT9HDwCvL_text","default":"Exhilarated Testimonials"},{"type":"text","id":"ggVS1dMXdF0_text","label":"ggVS1dMXdF0_text","default":"<p><span style=\"color:#000000;\">Discover joy as vehicles evolve with Add-On.</span></p>"},{"type":"text","id":"ggnvU0DZW3L_text","label":"ggnvU0DZW3L_text","default":"<p><span style=\"color:#000000;\">Discover joy as vehicles evolve&nbsp;</span></p><p><span style=\"color:#000000;\">with Add-On.</span></p>"},{"type":"text","id":"ggEKEFa-11S_text","label":"ggEKEFa-11S_text","default":"<p><span style=\"color:#000000;\"><i>My car went from average to Tik-Tok and Instagram worthy overnight. Add-On, you've got a lifetime customer!</i></span></p>"},{"type":"text","id":"ggkR2_XZ7Bo_text","label":"ggkR2_XZ7Bo_text","default":"- Jessica Hughes&nbsp;"},{"type":"text","id":"ggmgRtFUqba_text","label":"ggmgRtFUqba_text","default":"<p><span style=\"color:#000000;\"><i>Totally transformed my ride Add-On's LEDs. So many people complimented on them. Cruisin' just got cooler!</i></span></p>"},{"type":"text","id":"gg5TsyR6hkw_text","label":"gg5TsyR6hkw_text","default":"- Michael Thompson&nbsp;"},{"type":"text","id":"ggpiQ450GvZ_text","label":"ggpiQ450GvZ_text","default":"<p><span style=\"color:#000000;\"><i>These LEDs are next-level! Add-On nailed the perfect mix of style and performance.&nbsp;</i></span></p>"},{"type":"text","id":"gg681cipgI5_text","label":"gg681cipgI5_text","default":"- Matthew Hayes<br>&nbsp;"},{"type":"text","id":"gg4fpfR93aX_text","label":"gg4fpfR93aX_text","default":"<p><span style=\"background-color:rgba(36,36,36,0);color:#000000;font-size:18px;\">The Add-On LED Door Sills are pure magic! They have taken my car's interior to a whole new level of awesomeness.&nbsp;</span></p>"},{"type":"text","id":"ggnwViWnXem_text","label":"ggnwViWnXem_text","default":"- Daniel Cooper<br>&nbsp;"},{"type":"text","id":"ggTM64s0CAM_text","label":"ggTM64s0CAM_text","default":"<p><span style=\"background-color:rgba(36,36,36,0);color:#000000;font-size:18px;\">I can't recommend these enough! From the moment I installed them, my car has become a head-turner.&nbsp;</span></p>"},{"type":"text","id":"gg_AMyfwrVx_text","label":"gg_AMyfwrVx_text","default":"- Olivia Morgan<br>&nbsp;"},{"type":"text","id":"ggoNldwTyrv_text","label":"ggoNldwTyrv_text","default":"<p><span style=\"background-color:rgba(36,36,36,0);color:#000000;font-size:18px;\">Every time I step into my car, I'm greeted by a cool and trendy atmosphere that never fails to impress!</span></p>"},{"type":"text","id":"ggGPSMWZwbH_text","label":"ggGPSMWZwbH_text","default":"- Samantha Brooks<br>&nbsp;"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
