
   <style> @import url('https://fonts.googleapis.com/css?family=Montserrat:500,700,400&display=swap'); </style>
  <style> .gps-512092045762888616 .gp-invisible{visibility:hidden}.gps-512092045762888616 .gp-absolute{position:absolute}.gps-512092045762888616 .gp-relative{position:relative}.gps-512092045762888616 .gp-z-1{z-index:1}.gps-512092045762888616 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-512092045762888616 .gp-mb-0{margin-bottom:0}.gps-512092045762888616 .gp-flex{display:flex}.gps-512092045762888616 .gp-inline-flex{display:inline-flex}.gps-512092045762888616 .gp-grid{display:grid}.gps-512092045762888616 .\!gp-hidden{display:none!important}.gps-512092045762888616 .gp-hidden{display:none}.gps-512092045762888616 .gp-h-5{height:20px}.gps-512092045762888616 .gp-h-full{height:100%}.gps-512092045762888616 .gp-w-5{width:20px}.gps-512092045762888616 .gp-max-w-full{max-width:100%}.gps-512092045762888616 .gp-shrink-0{flex-shrink:0}.gps-512092045762888616 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-512092045762888616 .gp-flex-col{flex-direction:column}.gps-512092045762888616 .gp-items-center{align-items:center}.gps-512092045762888616 .gp-justify-center{justify-content:center}.gps-512092045762888616 .gp-gap-y-0{row-gap:0}.gps-512092045762888616 .gp-overflow-hidden{overflow:hidden}.gps-512092045762888616 .gp-break-words{overflow-wrap:break-word}.gps-512092045762888616 .gp-rounded-none{border-radius:0}.gps-512092045762888616 .gp-no-underline{text-decoration-line:none}.gps-512092045762888616 .gp-opacity-25{opacity:.25}.gps-512092045762888616 .gp-opacity-75{opacity:.75}.gps-512092045762888616 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-512092045762888616 .gp-duration-200{transition-duration:.2s}.gps-512092045762888616 .gp-duration-300{transition-duration:.3s}.gps-512092045762888616 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-512092045762888616 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-512092045762888616 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-512092045762888616 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-512092045762888616 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-512092045762888616 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-512092045762888616 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-512092045762888616 .tablet\:\!gp-hidden{display:none!important}.gps-512092045762888616 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-512092045762888616 .mobile\:\!gp-hidden{display:none!important}.gps-512092045762888616 .mobile\:gp-hidden{display:none}}.gps-512092045762888616 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-512092045762888616 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1023px){.gps-512092045762888616 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-512092045762888616 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-512092045762888616 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-512092045762888616 .\[\&_p\]\:gp-inline p{display:inline}.gps-512092045762888616 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-512092045762888616 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-512092045762888616 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gSdfTRc99m"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pb:0px;--pt-mobile:0px;--pl-mobile:10px;--pb-mobile:0px;--pr-mobile:10px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#151515;--bgi:url({{ "509743918775010179-ae2a2efe-8739-4c09-9ca3-e5b11478e765.jpg" | file_url }});--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSdfTRc99m gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gSE4M58XOE gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g9tu0BsN3k"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1280px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g9tu0BsN3k gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g00HYc-6eX gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="go1GXY-g0M"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="go1GXY-g0M gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gCGdzxN1RW gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gONgFKJtls "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ml:30px;--mr:30px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--lh:110%;--size:60px;--size-tablet:46px;--size-mobile:24px;--weight:bold;--c:#ffffff;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggONgFKJtls_text }}</h2>
      </div>
    </div>
      <style
        id="custom-css-gONgFKJtls"
      >.gONgFKJtls {



}</style>
    
    <div
      parentTag="Col"
        class="gtQk5V6O9t "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:10px;--mb:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--lh:150%;--size:24px;--size-tablet:16px;--size-mobile:18px;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggtQk5V6O9t_text }}</div>
      </div>
    </div>
  <gp-button style="">
  <div
    
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:30px;--ta:center"
    class=""
  >
    <style>
    .gOLPXNjEiy.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gOLPXNjEiy:hover::before {
      
      
    }
  </style>
    <a
      href="{{ shop.url }}{{ routes.root_url | split: '/' | join: '/' }}/products/car-door-welcome-pedal-luminous-threshold-bar-wireless-magic-color-car-atmosphere-light-change-decoration-led-streamer-breathing" target="_self" data-id="gOLPXNjEiy" aria-label="Shop Now"
      
      data-state="idle"
      class="gOLPXNjEiy gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-flex-row-reverse"
      style="--hvr-bg:#ffffff;--bg:#FFFFFF;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--hvr-c:#451E5D;--c:#121212;--w:;--w-tablet:;--w-mobile:;--h:;--h-tablet:;--h-mobile:;--pl:32px;--pr:32px;--pt:12px;--pb:12px;--tt:capitalize;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:700;--lh:180%;--size:24px;--size-tablet:16px;--size-mobile:16px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    <span
        class="gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817550824440168">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224.49,136.49l-72,72a12,12,0,0,1-17-17L187,140H40a12,12,0,0,1,0-24H187L135.51,64.48a12,12,0,0,1,17-17l72,72A12,12,0,0,1,224.49,136.49Z" /></svg></span>
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.ggOLPXNjEiy_label | downcase }}
      </span>
    </a>
  </div>
  </gp-button>

    </div>
    </div>
  
    
    </div>
    </div>
  
    
      <style
        id="custom-css-g9tu0BsN3k"
      >.g9tu0BsN3k {


height:100vh;
min-height: 100vh;
max-height:100vh;
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center !important;
align-content: center !important;
align-self: center !important;
align-items: center !important;
}</style>
    
    </div>
    </div>
  
            </section>
          
    
      <style
        id="custom-css-gSdfTRc99m"
      >.gSdfTRc99m {

}

h1,h2,h3,h4,h5,h6,span,p,a{
    
    letter-spacing:0px !important;
    
}</style>
    
  {% schema %}
    {
      
      "name": "Section 1",
      "tag": "section",
      "class": "gps-512092045762888616 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/add-on-design/apps/bold/app/shopify/edit?pageType=GP_INDEX&editorId=512092045729399720&sectionId=512092045762888616)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"},{"type":"text","id":"ggONgFKJtls_text","label":"ggONgFKJtls_text","default":"Transform Your Car Now"},{"type":"text","id":"ggtQk5V6O9t_text","label":"ggtQk5V6O9t_text","default":"<p>Discover the Coolest Automotive Parts to Transform Your Car's Look!</p>"},{"type":"text","id":"ggOLPXNjEiy_label","label":"ggOLPXNjEiy_label","default":"Shop Now"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
