

<link {% if section.settings.section_preload == "true" %} href="{{ 'gp-section-514949657525224692.css' | asset_url }}" {% else %} class="gps-link" delay="{{ 'gp-section-514949657525224692.css' | asset_url }}" {% endif %} rel="stylesheet" type="text/css" media="all">

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gYRYDe1cli"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:50px;--pb:50px;--pt-mobile:20px;--pl-mobile:15px;--pb-mobile:20px;--pr-mobile:15px;--pt-tablet:50px;--pl-tablet:15px;--pb-tablet:50px;--pr-tablet:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gYRYDe1cli gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gQaisOvjIW gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g8gOyjVQd2"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g8gOyjVQd2 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ggbb-357Im gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g47Jidu4Ur"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g47Jidu4Ur gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gYXDxR-vE2 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gBiTmYUTSL"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--aspect:auto"
    >
      
    
    <video
      id="gp-video-gBiTmYUTSL"
      class="lazy gp-w-full"
      style="--aspect:auto"
      
      loop
      muted
      autoplay playsinline
      title="Video"
      preload="metadata"
      data-src="https://cdn.shopify.com/videos/c/o/v/638d1d38d7934e568d98a6ef8d70d430.mp4"
      poster=""
    >
      <source data-src="https://cdn.shopify.com/videos/c/o/v/638d1d38d7934e568d98a6ef8d70d430.mp4" type="video/mp4"></source>
    </video>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
  
    </div>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gByTO4xCBF gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gwpLdL0ROI"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:30px;--pl:50px;--pb:30px;--pr:50px;--pt-mobile:30px;--pl-mobile:10px;--pb-mobile:30px;--pr-mobile:10px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gwpLdL0ROI gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gEn8uSn3JP gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gQK8ojL_qX "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:700;--lh:120%;--size:36px;--size-tablet:26px;--size-mobile:24px;--c:#66FFF4;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggQK8ojL_qX_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gKnPW1uW6m "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:10px;--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:300;--lh:150%;--size:18px;--size-tablet:16px;--size-mobile:16px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggKnPW1uW6m_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gpEDg1qli1"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:50px;--mb:0px;--mt-mobile:20px;--mb-mobile:0px;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gpEDg1qli1 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:1"
      class="gqZDzTIrD1 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gpjxqFpAuO"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--aspect:auto"
    >
      
    
    <video
      id="gp-video-gpjxqFpAuO"
      class="lazy gp-w-full"
      style="--aspect:auto"
      
      loop
      muted
      autoplay playsinline
      title="Video"
      preload="metadata"
      data-src="https://cdn.shopify.com/videos/c/o/v/8f42d67ce1144edfa856eadf4110bdb4.mp4"
      poster=""
    >
      <source data-src="https://cdn.shopify.com/videos/c/o/v/8f42d67ce1144edfa856eadf4110bdb4.mp4" type="video/mp4"></source>
    </video>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
  
    </div>
  
      <style
        id="custom-css-gpjxqFpAuO"
      >.gpjxqFpAuO[data-component-label="Video"] {

}</style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:0"
      class="gZcoTqKIrz gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="growgd73f5"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:30px;--pl:50px;--pb:30px;--pr:50px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="growgd73f5 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gr9hq8W9p7 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gCnHSZpZYW"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--aspect:auto"
    >
      
    
    <video
      id="gp-video-gCnHSZpZYW"
      class="lazy gp-w-full"
      style="--aspect:auto"
      
      loop
      muted
      autoplay playsinline
      title="Video"
      preload="metadata"
      data-src="https://cdn.shopify.com/videos/c/o/v/8f42d67ce1144edfa856eadf4110bdb4.mp4"
      poster=""
    >
      <source data-src="https://cdn.shopify.com/videos/c/o/v/8f42d67ce1144edfa856eadf4110bdb4.mp4" type="video/mp4"></source>
    </video>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
  
    </div>
  
      <style
        id="custom-css-gCnHSZpZYW"
      >.gCnHSZpZYW[data-component-label="Video"] {

}</style>
    
    <div
      parentTag="Col"
        class="gj1ikTrVhD "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt-mobile:30px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:700;--lh:120%;--size:36px;--size-tablet:26px;--size-mobile:24px;--c:#66FFF4;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggj1ikTrVhD_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gCCs351ag9 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:10px;--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:300;--lh:150%;--size:18px;--size-tablet:16px;--size-mobile:16px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggCCs351ag9_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gaypXYP1vy"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:50px;--mt-mobile:40px;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gaypXYP1vy gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:0"
      class="gSXJXBYDEU gp-relative gp-flex gp-flex-col"
    >
      
    <div
      
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] g3bRI-Ss07"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--aspect:auto"
    >
      
    
    <video
      id="gp-video-g3bRI-Ss07"
      class="lazy gp-w-full"
      style="--aspect:auto"
      
      loop
      muted
      autoplay playsinline
      title="Video"
      preload="metadata"
      data-src="https://cdn.shopify.com/videos/c/o/v/aa8c8d7c4a5846509c8eebda76d1dd01.mp4"
      poster=""
    >
      <source data-src="https://cdn.shopify.com/videos/c/o/v/aa8c8d7c4a5846509c8eebda76d1dd01.mp4" type="video/mp4"></source>
    </video>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
  
    </div>
  
      <style
        id="custom-css-g3bRI-Ss07"
      >.g3bRI-Ss07[data-component-label="Video"] {

}</style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:1"
      class="gdBAw8xaWn gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gSXxirWb44"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:30px;--pl:50px;--pb:30px;--pr:50px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSXxirWb44 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gM6AAXRFTZ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gLuMZvYps- "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mt-mobile:30px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:700;--lh:120%;--size:36px;--size-tablet:26px;--size-mobile:24px;--c:#66FFF4;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggLuMZvYps-_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gPw3JWcAN4 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:300;--lh:150%;--size:18px;--size-tablet:16px;--size-mobile:16px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggPw3JWcAN4_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
<style {% if section.settings.section_preload != "true" %}class="gps-link" type="text/disabled-css"{% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLDz8Z1xlEw.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1xlEw.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLDz8Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLDz8Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-514949657525224692 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/add-on-design/apps/bold/app/shopify/edit?pageType=GP_PRODUCT&editorId=514949656803804404&sectionId=514949657525224692)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"ggQK8ojL_qX_text","label":"ggQK8ojL_qX_text","default":"<span style=\"color:#66FFF4;\">DELUXE LIGHTING &nbsp;UPGRADE</span>"},{"type":"html","id":"ggKnPW1uW6m_text","label":"ggKnPW1uW6m_text","default":"<p>Enhance your car with our remarkable LED Door Sill, adding a touch of premium elegance that sets it apart. Witness the magical transformation as your vehicle lights up with embedded LED lights on the door sill plates.</p>"},{"type":"html","id":"ggj1ikTrVhD_text","label":"ggj1ikTrVhD_text","default":"PERFECT AESTHETIC MATCH"},{"type":"html","id":"ggCCs351ag9_text","label":"ggCCs351ag9_text","default":"<p><span style=\"background-color:rgba(0,9,52,0);color:rgb(255,255,255);font-size:17px;\">Our LED Door Sill is an amazing illumination of different colors to fit your preference and mood. </span><span style=\"background-color:rgba(0,9,52,0);color:rgb(255,255,255);font-size:18px;\">Experience these market leading dazzling, seamless, and exhilarating light emissions!</span></p>"},{"type":"html","id":"ggLuMZvYps-_text","label":"ggLuMZvYps-_text","default":"<span style=\"background-color:rgba(95,239,230,0);color:#66FFF4;\">RIDE ANYTIME &amp; ANYWHERE</span>"},{"type":"html","id":"ggPw3JWcAN4_text","label":"ggPw3JWcAN4_text","default":"<p><span style=\"background-color:rgba(36, 36, 36, 0);color:rgb(255,255,255);font-size:18px;\">Our LED Door Sills are expertly designed to provide outstanding durability. Crafted with waterproof and non-corrosive materials of automotive quality, they are built to last LIFETIME. These Door Sills have undergone rigorous testing in extreme conditions, PROVING their resilience and longevity.</span></p>"}],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
