

<link {% if section.settings.section_preload == "true" %} href="{{ 'gp-section-517407770203391051.css' | asset_url }}" {% else %} class="gps-link" delay="{{ 'gp-section-517407770203391051.css' | asset_url }}" {% endif %} rel="stylesheet" type="text/css" media="all">

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="ga4K9oOMO3"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:50px;--pb:80px;--pt-mobile:30px;--pl-mobile:15px;--pb-mobile:50px;--pr-mobile:15px;--pt-tablet:50px;--pl-tablet:15px;--pb-tablet:50px;--pr-tablet:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ga4K9oOMO3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gUynya4AFd gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gmWXKTxlO0"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gmWXKTxlO0 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gn9yqDhmH5 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gOAWpIIbqr "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:700;--lh:130%;--size:36px;--size-tablet:35px;--size-mobile:24px;--c:#00D885;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggOAWpIIbqr_text }}</h2>
      </div>
    </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:50px;--pl:0px;--pr:0px;--mt-mobile:15px;--pl-mobile:0px;--pr-mobile:0px" class="gDS_SIFXm0 ">
      
    <gp-accordion
     uid="gDS_SIFXm0"
      class="gp-flex gp-w-full gp-flex-col "
      style="--gg:16px;--bgr:function (n) {
                return new Array(1 + n).join(this);
            }"
      gp-data='{"setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":"1","expanded":true,"expandItem":false,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px"}},"iconCollapse":"\n          <svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" classname=\"w-6 h-6\" viewBox=\"0 0 512 512\" fill=\"currentColor\">\n              <path fill=\"currentColor\" strokelinecap=\"round\" strokelinejoin=\"round\" d=\"M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z\"></path></svg>\n          ","iconExpand":"\n          <svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" classname=\"w-6 h-6\" viewBox=\"0 0 512 512\" fill=\"currentColor\">\n              <path fill=\"currentColor\" strokelinecap=\"round\" strokelinejoin=\"round\" d=\"m231.904 155.52 -153.472 175.392c-18.112 20.704 -3.392 53.088 24.096 53.088h306.944a32 32 0 0 0 24.096 -53.088l-153.472 -175.36a32 32 0 0 0 -48.192 0z\"></path></svg>","iconCollapseSize":16,"layoutHeader":"text-only","expandedMode":"multiple","configIconSize":16,"parentUid":"gDS_SIFXm0","childListNumber":[],"chidlrenUid":["gHHpbDbxb6","g6T4EDDKM7","gpXHme3FVt","glqtvvpUPM","gYHBCWTvyI","gXKLT2ywOQ","gIQfLIX8UZ","gUYe9YlLXU"]},"styles":{"bgColor":{"active":"transparent","hover":"transparent","normal":"transparent"},"color":{"active":"#00D885","hover":"#00D885","normal":"#00D885"},"headerBorder":{"active":{"border":"solid","borderWidth":"Mixed","color":"#00D885","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"hover":{"border":"solid","borderWidth":"Mixed","color":"#00D885","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"normal":{"border":"solid","borderWidth":"Mixed","color":"#00D885","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"}},"textColor":{"active":"#ffffff","hover":"#ffffff","normal":"#ffffff"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"16px","padding":{"bottom":"8px","left":"0px","right":"24px","top":"8px","type":"custom"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":"8px","left":"24px","right":"24px","top":"8px","type":"medium"}}},"widthHeightSize":{"desktop":{"height":"auto","width":"100%"}}},"uid":"gDS_SIFXm0"}'
    >
    <div class="gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
    <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div
      data-index="0"
      class="gDS_SIFXm0 gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gHHpbDbxb6"
        id="gHHpbDbxb6"
        data-index="0"
        class="gDS_SIFXm0 gp-accordion-item-gDS_SIFXm0-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#ffffff;--c:#ffffff;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#00D885;--hvr-bc:#00D885"
      >
       <style class="accordion-style">.gp-accordion-item-gDS_SIFXm0-0:hover { 
              .gp-collapsible-icon { 
                  color: #00D885 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#00D885;--c:#00D885;width:16px;height:16px"
            data-index="0"
            class="gDS_SIFXm0 gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z"></path></svg>
          </span>
          
        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--lh:135%;--size:20px;--size-tablet:16px;--size-mobile:18px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggDS_SIFXm0_childItem_0 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="gHHpbDbxb6"
        data-index="0"
        class="gDS_SIFXm0 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gHHpbDbxb6"
        data-index="0"
        class="gDS_SIFXm0 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:24px" >
            <div
      label="Block" tag="Col" type="component"
      style=""
      class="g-iH3SdWgt gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gabyF0nj6m "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:300;--lh:150%;--size:18px;--size-tablet:16px;--size-mobile:16px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:24px;overflow:hidden"
        >{{ section.settings.ggabyF0nj6m_text }}</div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div
      data-index="1"
      class="gDS_SIFXm0 gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="g6T4EDDKM7"
        id="g6T4EDDKM7"
        data-index="1"
        class="gDS_SIFXm0 gp-accordion-item-gDS_SIFXm0-1 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#ffffff;--c:#ffffff;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#00D885;--hvr-bc:#00D885"
      >
       <style class="accordion-style">.gp-accordion-item-gDS_SIFXm0-1:hover { 
              .gp-collapsible-icon { 
                  color: #00D885 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#00D885;--c:#00D885;width:16px;height:16px"
            data-index="1"
            class="gDS_SIFXm0 gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z"></path></svg>
          </span>
          
        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--lh:135%;--size:20px;--size-tablet:16px;--size-mobile:18px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggDS_SIFXm0_childItem_1 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="g6T4EDDKM7"
        data-index="1"
        class="gDS_SIFXm0 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="g6T4EDDKM7"
        data-index="1"
        class="gDS_SIFXm0 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:24px" >
            <div
      label="Block" tag="Col" type="component"
      style=""
      class="gWlyScLTze gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gM6r9q2EKM "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:300;--lh:150%;--size:18px;--size-tablet:16px;--size-mobile:16px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:24px;overflow:hidden"
        >{{ section.settings.ggM6r9q2EKM_text }}</div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div
      data-index="2"
      class="gDS_SIFXm0 gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gpXHme3FVt"
        id="gpXHme3FVt"
        data-index="2"
        class="gDS_SIFXm0 gp-accordion-item-gDS_SIFXm0-2 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#ffffff;--c:#ffffff;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#00D885;--hvr-bc:#00D885"
      >
       <style class="accordion-style">.gp-accordion-item-gDS_SIFXm0-2:hover { 
              .gp-collapsible-icon { 
                  color: #00D885 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#00D885;--c:#00D885;width:16px;height:16px"
            data-index="2"
            class="gDS_SIFXm0 gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z"></path></svg>
          </span>
          
        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--lh:135%;--size:20px;--size-tablet:16px;--size-mobile:18px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggDS_SIFXm0_childItem_2 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="gpXHme3FVt"
        data-index="2"
        class="gDS_SIFXm0 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gpXHme3FVt"
        data-index="2"
        class="gDS_SIFXm0 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:24px" >
            <div
      label="Block" tag="Col" type="component"
      style=""
      class="gXgPGMfa5N gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gFf21EtUME "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:300;--lh:150%;--size:18px;--size-tablet:16px;--size-mobile:16px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:24px;overflow:hidden"
        >{{ section.settings.ggFf21EtUME_text }}</div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div
      data-index="3"
      class="gDS_SIFXm0 gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="glqtvvpUPM"
        id="glqtvvpUPM"
        data-index="3"
        class="gDS_SIFXm0 gp-accordion-item-gDS_SIFXm0-3 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#ffffff;--c:#ffffff;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#00D885;--hvr-bc:#00D885"
      >
       <style class="accordion-style">.gp-accordion-item-gDS_SIFXm0-3:hover { 
              .gp-collapsible-icon { 
                  color: #00D885 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#00D885;--c:#00D885;width:16px;height:16px"
            data-index="3"
            class="gDS_SIFXm0 gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z"></path></svg>
          </span>
          
        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--lh:135%;--size:20px;--size-tablet:16px;--size-mobile:18px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggDS_SIFXm0_childItem_3 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="glqtvvpUPM"
        data-index="3"
        class="gDS_SIFXm0 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="glqtvvpUPM"
        data-index="3"
        class="gDS_SIFXm0 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:24px" >
            <div
      label="Block" tag="Col" type="component"
      style=""
      class="gIGJEm5yRX gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g4rTVRZY29 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:300;--lh:150%;--size:18px;--size-tablet:16px;--size-mobile:16px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:24px;overflow:hidden"
        >{{ section.settings.gg4rTVRZY29_text }}</div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div
      data-index="4"
      class="gDS_SIFXm0 gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gYHBCWTvyI"
        id="gYHBCWTvyI"
        data-index="4"
        class="gDS_SIFXm0 gp-accordion-item-gDS_SIFXm0-4 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#ffffff;--c:#ffffff;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#00D885;--hvr-bc:#00D885"
      >
       <style class="accordion-style">.gp-accordion-item-gDS_SIFXm0-4:hover { 
              .gp-collapsible-icon { 
                  color: #00D885 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#00D885;--c:#00D885;width:16px;height:16px"
            data-index="4"
            class="gDS_SIFXm0 gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z"></path></svg>
          </span>
          
        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--lh:135%;--size:20px;--size-tablet:16px;--size-mobile:18px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggDS_SIFXm0_childItem_4 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="gYHBCWTvyI"
        data-index="4"
        class="gDS_SIFXm0 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gYHBCWTvyI"
        data-index="4"
        class="gDS_SIFXm0 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:24px" >
            <div
      label="Block" tag="Col" type="component"
      style=""
      class="gHMhf4JNHm gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gmPWVJ_60t "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:300;--lh:150%;--size:18px;--size-tablet:16px;--size-mobile:16px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:24px;overflow:hidden"
        >{{ section.settings.ggmPWVJ_60t_text }}</div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div
      data-index="5"
      class="gDS_SIFXm0 gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gXKLT2ywOQ"
        id="gXKLT2ywOQ"
        data-index="5"
        class="gDS_SIFXm0 gp-accordion-item-gDS_SIFXm0-5 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#ffffff;--c:#ffffff;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#00D885;--hvr-bc:#00D885"
      >
       <style class="accordion-style">.gp-accordion-item-gDS_SIFXm0-5:hover { 
              .gp-collapsible-icon { 
                  color: #00D885 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#00D885;--c:#00D885;width:16px;height:16px"
            data-index="5"
            class="gDS_SIFXm0 gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z"></path></svg>
          </span>
          
        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--lh:135%;--size:20px;--size-tablet:16px;--size-mobile:18px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggDS_SIFXm0_childItem_5 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="gXKLT2ywOQ"
        data-index="5"
        class="gDS_SIFXm0 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gXKLT2ywOQ"
        data-index="5"
        class="gDS_SIFXm0 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:24px" >
            <div
      label="Block" tag="Col" type="component"
      style=""
      class="g_N1CFobHo gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gI9mLgJYVl "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:300;--lh:150%;--size:18px;--size-tablet:16px;--size-mobile:16px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:24px;overflow:hidden"
        >{{ section.settings.ggI9mLgJYVl_text }}</div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div
      data-index="6"
      class="gDS_SIFXm0 gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gIQfLIX8UZ"
        id="gIQfLIX8UZ"
        data-index="6"
        class="gDS_SIFXm0 gp-accordion-item-gDS_SIFXm0-6 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#ffffff;--c:#ffffff;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#00D885;--hvr-bc:#00D885"
      >
       <style class="accordion-style">.gp-accordion-item-gDS_SIFXm0-6:hover { 
              .gp-collapsible-icon { 
                  color: #00D885 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#00D885;--c:#00D885;width:16px;height:16px"
            data-index="6"
            class="gDS_SIFXm0 gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z"></path></svg>
          </span>
          
        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--lh:135%;--size:20px;--size-tablet:16px;--size-mobile:18px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggDS_SIFXm0_childItem_6 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="gIQfLIX8UZ"
        data-index="6"
        class="gDS_SIFXm0 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gIQfLIX8UZ"
        data-index="6"
        class="gDS_SIFXm0 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:24px" >
            <div
      label="Block" tag="Col" type="component"
      style=""
      class="gkfzdzytjg gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gCFnjGcNU5 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:300;--lh:150%;--size:18px;--size-tablet:16px;--size-mobile:16px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:24px;overflow:hidden"
        >{{ section.settings.ggCFnjGcNU5_text }}</div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div
      data-index="7"
      class="gDS_SIFXm0 gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gUYe9YlLXU"
        id="gUYe9YlLXU"
        data-index="7"
        class="gDS_SIFXm0 gp-accordion-item-gDS_SIFXm0-7 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#ffffff;--c:#ffffff;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#00D885;--hvr-bc:#00D885"
      >
       <style class="accordion-style">.gp-accordion-item-gDS_SIFXm0-7:hover { 
              .gp-collapsible-icon { 
                  color: #00D885 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#00D885;--c:#00D885;width:16px;height:16px"
            data-index="7"
            class="gDS_SIFXm0 gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z"></path></svg>
          </span>
          
        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--lh:135%;--size:20px;--size-tablet:16px;--size-mobile:18px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggDS_SIFXm0_childItem_7 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="gUYe9YlLXU"
        data-index="7"
        class="gDS_SIFXm0 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gUYe9YlLXU"
        data-index="7"
        class="gDS_SIFXm0 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:24px" >
            <div
      label="Block" tag="Col" type="component"
      style=""
      class="gsH1fpV6eI gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gbC80wp1yL "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:300;--lh:150%;--size:18px;--size-tablet:16px;--size-mobile:16px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:24px;overflow:hidden"
        >{{ section.settings.ggbC80wp1yL_text }}</div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
<style {% if section.settings.section_preload != "true" %}class="gps-link" type="text/disabled-css"{% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLDz8Z1xlEw.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLGT9Z1xlEw.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1xlEw.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLDz8Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLDz8Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLGT9Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLGT9Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-517407770203391051 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/add-on-design/apps/bold/app/shopify/edit?pageType=GP_PRODUCT&editorId=517407770119504971&sectionId=517407770203391051)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"ggOAWpIIbqr_text","label":"ggOAWpIIbqr_text","default":"<span style=\"background-color:rgba(33, 33, 33, 0);color:#FFFFFF;\">&nbsp;FREQUENTLY ASKED &nbsp;QUESTIONS</span>"},{"type":"html","id":"ggDS_SIFXm0_childItem_0","label":"ggDS_SIFXm0_childItem_0","default":"<p><span style=\"font-weight:400;\">Where are we and what is the cost of shipping?</span></p>"},{"type":"html","id":"ggDS_SIFXm0_childItem_1","label":"ggDS_SIFXm0_childItem_1","default":"<p><span style=\"font-weight:400;\">How many days will it take to receive my order and what countries are included for shipping?</span></p>"},{"type":"html","id":"ggDS_SIFXm0_childItem_2","label":"ggDS_SIFXm0_childItem_2","default":"<p><span style=\"font-weight:400;\">Where can I pick/switch the color and modes on this LED Door Sill light?</span></p>"},{"type":"html","id":"ggDS_SIFXm0_childItem_3","label":"ggDS_SIFXm0_childItem_3","default":"<p><span style=\"font-weight:400;\">How long does it last per charge?</span></p>"},{"type":"html","id":"ggDS_SIFXm0_childItem_4","label":"ggDS_SIFXm0_childItem_4","default":"<p><span style=\"font-weight:400;\">Are these LED Door Sills customizable?</span></p>"},{"type":"html","id":"ggDS_SIFXm0_childItem_5","label":"ggDS_SIFXm0_childItem_5","default":"<p><span style=\"font-weight:400;\">Can these be installed on my existing car Door Sills?</span></p>"},{"type":"html","id":"ggDS_SIFXm0_childItem_6","label":"ggDS_SIFXm0_childItem_6","default":"<p><span style=\"font-weight:400;\">What happens if the LED Door Sills don’t fit?</span></p>"},{"type":"html","id":"ggDS_SIFXm0_childItem_7","label":"ggDS_SIFXm0_childItem_7","default":"<p><span style=\"font-weight:400;\">Is charger included in the package?</span></p>"},{"type":"html","id":"ggabyF0nj6m_text","label":"ggabyF0nj6m_text","default":"<p><span style=\"background-color:rgba(0,12,53,0.24);color:rgb(255,255,255);font-size:17px;\">Our headquarter is in New York, USA. &nbsp;We have our product design, manufacture and fulfillment team in multiple worldwide offices and warehouses to offer you the best shipping options. &nbsp;</span><br><br><span style=\"background-color:rgba(0, 12, 53, 0);color:rgb(255,255,255);font-size:17px;\">Depending on your exact location and preferred shipping option, the cost will be provided in the checkout page.</span></p>"},{"type":"html","id":"ggM6r9q2EKM_text","label":"ggM6r9q2EKM_text","default":"<p><span style=\"background-color:rgba(0, 12, 53, 0);color:rgb(255,255,255);font-size:17px;\">All orders will be processed and shipped within 24 hours after purchase. Our shipping service is available worldwide, it takes approx. 5-14 days to receive your order depending on your country of location.&nbsp;</span></p>"},{"type":"html","id":"ggFf21EtUME_text","label":"ggFf21EtUME_text","default":"<p><span style=\"background-color:rgba(0, 12, 53, 0);color:rgb(255,255,255);font-size:17px;\">Simply choose your preferred colors and modes by pressing the button on the LED Door Sill. There are a variety of lighting effects to choose from which makes it cool.</span></p>"},{"type":"html","id":"gg4rTVRZY29_text","label":"gg4rTVRZY29_text","default":"<p><span style=\"background-color:rgba(0, 12, 53, 0);color:rgb(255,255,255);font-size:17px;\">One full charge lasts for a minimum of 3 months.</span></p>"},{"type":"html","id":"ggmPWVJ_60t_text","label":"ggmPWVJ_60t_text","default":"<p>Absolutely! We offer personalized options for our LED Door Sills. Simply contact our customer service team to access your very own customized version.&nbsp;</p>"},{"type":"html","id":"ggI9mLgJYVl_text","label":"ggI9mLgJYVl_text","default":"<p>Certainly! Our LED door sills can be easily installed on existing sills. You have two options: replace the pre-installed sills with our LED door sills or securely attach them over the existing ones using the included dual-sided adhesive tape.</p>"},{"type":"html","id":"ggCFnjGcNU5_text","label":"ggCFnjGcNU5_text","default":"<p><span style=\"background-color:rgba(0, 12, 53, 0);color:rgb(255,255,255);font-size:17px;\">Our LED door sills are tailor designed to fit 99% of cars with normal-sized door sill areas.&nbsp;</span><br><br><span style=\"background-color:rgba(0, 12, 53, 0);color:rgb(255,255,255);font-size:17px;\">In the unlikely circumstance that it doesn't meet your needs, we provide a seamless refund process. Your contentment is our utmost concern.&nbsp;</span></p>"},{"type":"html","id":"ggbC80wp1yL_text","label":"ggbC80wp1yL_text","default":"<p><span style=\"background-color:rgba(36,36,36,0);color:rgb(255,255,255);font-size:18px;\">Each package includes a USB charging cable. Any USB charging cable works as our LED Door Sills come equipped with a USB charging port.&nbsp;</span><br><br><span style=\"background-color:rgba(36,36,36,0);color:rgb(255,255,255);font-size:18px;\">Upon unboxing, it is highly recommended to get your LED Door Sills fully charged for approx. 1.5 hours prior installation. &nbsp;&nbsp;</span></p>"}],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
