

<link {% if section.settings.section_preload == "true" %} href="{{ 'gp-section-514949657508578548.css' | asset_url }}" {% else %} class="gps-link" delay="{{ 'gp-section-514949657508578548.css' | asset_url }}" {% endif %} rel="stylesheet" type="text/css" media="all">

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gS9hdQM5Av"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:20px;--pb:20px;--pt-mobile:10px;--pb-mobile:0px;--pt-tablet:30px;--pl-tablet:15px;--pb-tablet:30px;--pr-tablet:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gS9hdQM5Av gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gdU0YHwlO0 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gZSLeDT1iC"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gZSLeDT1iC gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gR08CaMZFc gp-relative gp-flex gp-flex-col"
    >
      
    <div
      
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] g2pBSggSvY"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--aspect:3/4;--aspect-mobile:auto"
    >
      
    
    <video
      id="gp-video-g2pBSggSvY"
      class="lazy gp-w-full"
      style="--aspect:3/4;--aspect-mobile:auto"
      
      loop
      muted
      autoplay playsinline
      title="Video"
      preload="metadata"
      data-src="https://cdn.shopify.com/videos/c/o/v/9e547b4658c94d41a1d0028941012128.mp4"
      poster=""
    >
      <source data-src="https://cdn.shopify.com/videos/c/o/v/9e547b4658c94d41a1d0028941012128.mp4" type="video/mp4"></source>
    </video>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
  
    </div>
  
      
      
    <div
      parentTag="Col" id="glIap53Cbc"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:12px;--bbrr:12px;--btlr:12px;--btrr:12px;--pt:40px;--pl:40px;--pb:40px;--pr:40px;--mt-mobile:20px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:20px;--pl-mobile:15px;--pb-mobile:20px;--pr-mobile:15px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgba(95, 219, 158, 0);--bgi:url({{ "gempages_509743918775010179-4cf46c9f-e56b-4154-a538-0111950f46c0.png" | file_url }});--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll"
        class="glIap53Cbc gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ge1PHe1U6l gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gQoDBXdrsg "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:700;--ls:0px;--lh:150%;--size:27px;--size-tablet:19px;--size-mobile:17px;--c:#121212;--tt:uppercase;word-break:break-word;--bgc:rgba(95, 219, 126, 0);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggQoDBXdrsg_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gEDcCu5dP7 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:10px;--ml:0px;--mr:0px;--pr:0px;--mt-mobile:10px;--ml-mobile:15px;--mr-mobile:15px;--pr-mobile:2px;--mt-tablet:20px;--ml-tablet:0px;--mr-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:700;--lh:120%;--size:36px;--size-tablet:32px;--size-mobile:20px;--c:#5FDB7E;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggEDcCu5dP7_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g6EHit1fwu "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--mt:10px;--ml:0px;--mr:0px;--pr:0px;--mt-mobile:10px;--ml-mobile:15px;--mr-mobile:15px;--pr-mobile:2px;--mt-tablet:20px;--ml-tablet:0px;--mr-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:700;--lh:120%;--size:36px;--size-tablet:32px;--size-mobile:18px;--c:#5FDB7E;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg6EHit1fwu_text }}</h2>
      </div>
    </div><div style="" class="gUBAWfcMc_ ">
      
    <gp-icon-list
      uid="gUBAWfcMc_"
      gp-data='{"position":{"desktop":"baseline","mobile":"baseline","tablet":"baseline"},"iconWidth":{"desktop":18,"mobile":16,"tablet":16}}'
       style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:10px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
    >
     
      <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:3px"
        >
        
           <div
            class="gp-icon-list-wrapper gp-flex"
            style="--cg:8px;--ai:left"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#5FDB7E;--w:100%;--h:100%;--size-desktop:18px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#ffffff">
                {{ section.settings.ggUBAWfcMc__childItem_0 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex"
            style="--cg:8px;--ai:left"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#5FDB7E;--w:100%;--h:100%;--size-desktop:18px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#ffffff">
                {{ section.settings.ggUBAWfcMc__childItem_1 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex"
            style="--cg:8px;--ai:left"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#5FDB7E;--w:100%;--h:100%;--size-desktop:18px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#ffffff">
                {{ section.settings.ggUBAWfcMc__childItem_2 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex"
            style="--cg:8px;--ai:left"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#5FDB7E;--w:100%;--h:100%;--size-desktop:18px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#ffffff">
                {{ section.settings.ggUBAWfcMc__childItem_3 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex"
            style="--cg:8px;--ai:left"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#5FDB7E;--w:100%;--h:100%;--size-desktop:18px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#ffffff">
                {{ section.settings.ggUBAWfcMc__childItem_4 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex"
            style="--cg:8px;--ai:left"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#5FDB7E;--w:100%;--h:100%;--size-desktop:18px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#ffffff">
                {{ section.settings.ggUBAWfcMc__childItem_5 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex"
            style="--cg:8px;--ai:left"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#5FDB7E;--w:100%;--h:100%;--size-desktop:18px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#ffffff">
                {{ section.settings.ggUBAWfcMc__childItem_6 }}
            </div>
            </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:30px;--mt-mobile:20px;--ml-mobile:0px;--mr-mobile:0px;--ta:left;--ta-mobile:center"
    class=""
  >
    <style>
    .gG-k8HsWN5.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
    }

    .gG-k8HsWN5:hover::before {
      
      
    }
  </style>
    <a
      href="#gZmg6GpVKw" target="_self" data-id="gG-k8HsWN5" aria-label="TRANSFORM YOUR CAR NOW!"
      
      data-state="idle"
      class="gG-k8HsWN5 gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3"
      style="--hvr-bg:#FFA300;--bg:#FFA300;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--shadow:none;--c:var(--g-c-text-3, text-3);--w:100%;--w-tablet:100%;--w-mobile:Auto;--h:;--h-tablet:;--h-mobile:;--pl:32px;--pr:32px;--pt:12px;--pb:12px;--pl-mobile:15px;--pr-mobile:15px;--pt-mobile:12px;--pb-mobile:12px;--tt:default;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:700;--lh:120%;--size:20px;--size-tablet:16px;--size-mobile:18px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.ggG-k8HsWN5_label }}
      </span>
    </a>
  </div>
  </gp-button>

    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gbLclxnk3Y gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gAClToNlss"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pl:30px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAClToNlss gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gkNEF5xShK gp-relative gp-flex gp-flex-col"
    >
      
    <div
      
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gwGkLms9sQ"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--aspect:auto"
    >
      
    
    <video
      id="gp-video-gwGkLms9sQ"
      class="lazy gp-w-full"
      style="--aspect:auto"
      
      loop
      muted
      autoplay playsinline
      title="Video"
      preload="metadata"
      data-src="https://cdn.shopify.com/videos/c/o/v/9e547b4658c94d41a1d0028941012128.mp4"
      poster=""
    >
      <source data-src="https://cdn.shopify.com/videos/c/o/v/9e547b4658c94d41a1d0028941012128.mp4" type="video/mp4"></source>
    </video>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
  
    </div>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
    
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--mt:30px;--mt-mobile:15px;--ml-mobile:0px;--mr-mobile:0px;--ta:left;--ta-mobile:center"
    class=""
  >
    <style>
    .g9fx8bif4R.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
    }

    .g9fx8bif4R:hover::before {
      
      
    }
  </style>
    <a
      href="#gZmg6GpVKw" target="_self" data-id="g9fx8bif4R" aria-label="TRANSFORM YOUR CAR NOW!"
      
      data-state="idle"
      class="g9fx8bif4R gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3"
      style="--hvr-bg:#FFA300;--bg:#FFA300;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--shadow:none;--c:var(--g-c-text-3, text-3);--w:100%;--w-tablet:100%;--w-mobile:Auto;--h:;--h-tablet:;--h-mobile:;--pl:32px;--pr:32px;--pt:12px;--pb:12px;--pl-mobile:15px;--pr-mobile:15px;--pt-mobile:12px;--pb-mobile:12px;--tt:default;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:700;--lh:120%;--size:20px;--size-tablet:16px;--size-mobile:18px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.gg9fx8bif4R_label }}
      </span>
    </a>
  </div>
  </gp-button>

    </div>
    </div>
  
            </section>
          
    
<style {% if section.settings.section_preload != "true" %}class="gps-link" type="text/disabled-css"{% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLGT9Z1xlEw.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1xlEw.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLGT9Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLGT9Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-514949657508578548 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/add-on-design/apps/bold/app/shopify/edit?pageType=GP_PRODUCT&editorId=514949656803804404&sectionId=514949657508578548)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"ggQoDBXdrsg_text","label":"ggQoDBXdrsg_text","default":"<span style=\"background-color:#5FDB7E;\">Transform Your car in seconds!</span>"},{"type":"html","id":"ggEDcCu5dP7_text","label":"ggEDcCu5dP7_text","default":"Ignite your nighttime with style"},{"type":"html","id":"gg6EHit1fwu_text","label":"gg6EHit1fwu_text","default":"Ignite your nighttime&nbsp;<br>with style"},{"type":"html","id":"ggUBAWfcMc__childItem_0","label":"ggUBAWfcMc__childItem_0","default":"<p><span style=\"color:#5FDB7E;\">Unparalleled Illumination</span>: Immerse yourself in an extraordinary level of modes and brightness with our remarkable LED Lights.&nbsp;</p>"},{"type":"html","id":"ggUBAWfcMc__childItem_1","label":"ggUBAWfcMc__childItem_1","default":"<p><span style=\"color:#5FDB7E;\">Intelligent Sensor Technology</span>: Illuminates upon door opening and automatically shuts off upon closure.&nbsp;</p>"},{"type":"html","id":"ggUBAWfcMc__childItem_2","label":"ggUBAWfcMc__childItem_2","default":"<p><span style=\"color:#5FDB7E;\">Extended Battery Capability</span>: Enjoy up to more than 3 months of continuous usage on a single charge, ensuring long-lasting performance.&nbsp;</p>"},{"type":"html","id":"ggUBAWfcMc__childItem_3","label":"ggUBAWfcMc__childItem_3","default":"<p><span style=\"color:#5FDB7E;\">Resilient Surface</span>: Our sills are expertly crafted to withstand scratches and retain their pristine appearance.&nbsp;</p>"},{"type":"html","id":"ggUBAWfcMc__childItem_4","label":"ggUBAWfcMc__childItem_4","default":"<p><span style=\"color:#5FDB7E;\">Vibrant Colors &amp; Modes Selection</span>: Our LED Door Sills provide an impressive array of colors and modes, allowing you to personalize the illumination to perfectly match your style.&nbsp;</p>"},{"type":"html","id":"ggUBAWfcMc__childItem_5","label":"ggUBAWfcMc__childItem_5","default":"<p><span style=\"color:#5FDB7E;\">Universal Compatibility</span>: Tailored for all car models, our LED Door Sills effortlessly elevate the styles of any vehicle.&nbsp;</p>"},{"type":"html","id":"ggUBAWfcMc__childItem_6","label":"ggUBAWfcMc__childItem_6","default":"<p><span style=\"color:#5FDB7E;\">Seamless Installation</span>: Set up within minutes by SNAPPING ON using a secure magnetic base, requiring no tools or wiring.</p>"},{"type":"html","id":"ggG-k8HsWN5_label","label":"ggG-k8HsWN5_label","default":"TRANSFORM YOUR CAR NOW!"},{"type":"html","id":"gg9fx8bif4R_label","label":"gg9fx8bif4R_label","default":"TRANSFORM YOUR CAR NOW!"}],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
