
  <style> @import url('https://fonts.googleapis.com/css?family=Montserrat:700,400&display=swap'); </style>
  <style> .gps-514948933370250055 .gp-relative{position:relative}.gps-514948933370250055 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-514948933370250055 .gp-mb-0{margin-bottom:0}.gps-514948933370250055 .\!gp-inline{display:inline!important}.gps-514948933370250055 .gp-flex{display:flex}.gps-514948933370250055 .gp-grid{display:grid}.gps-514948933370250055 .\!gp-hidden{display:none!important}.gps-514948933370250055 .gp-hidden{display:none}.gps-514948933370250055 .gp-h-full{height:100%}.gps-514948933370250055 .gp-w-full{width:100%}.gps-514948933370250055 .\!gp-max-w-none{max-width:none!important}.gps-514948933370250055 .gp-max-w-full{max-width:100%}.gps-514948933370250055 .gp-flex-col{flex-direction:column}.gps-514948933370250055 .gp-gap-y-0{row-gap:0}.gps-514948933370250055 .gp-overflow-hidden{overflow:hidden}.gps-514948933370250055 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-514948933370250055 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-514948933370250055 .gp-duration-200{transition-duration:.2s}.gps-514948933370250055 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-514948933370250055 .tablet\:\!gp-hidden{display:none!important}.gps-514948933370250055 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-514948933370250055 .mobile\:\!gp-hidden{display:none!important}.gps-514948933370250055 .mobile\:gp-hidden{display:none}}.gps-514948933370250055 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-514948933370250055 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1023px){.gps-514948933370250055 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-514948933370250055 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}.gps-514948933370250055 .\[\&_p\]\:gp-inline p{display:inline}.gps-514948933370250055 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-514948933370250055 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gNhBUVgyqH"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:50px;--pb:50px;--pt-tablet:30px;--pl-tablet:10px;--pb-tablet:30px;--pr-tablet:10px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNhBUVgyqH gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gKQAZhfTI3 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g7NPpN5PVR"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:10px;--pl:10px;--pb:10px;--pr:10px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g7NPpN5PVR gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gIX6hRAKAE gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gcxVgr2zQR"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gcxVgr2zQR gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:0"
      class="gLxjXGh1Wp gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image g5TWWaNBjn"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_509743918775010179-ee3dd65c-013a-4ed0-a6b0-061c7a649011.gif" | file_url }}" srcset="{{ 'gempages_509743918775010179-ee3dd65c-013a-4ed0-a6b0-061c7a649011.gif' | file_img_url: '768x768' }} 768w, {{ 'gempages_509743918775010179-ee3dd65c-013a-4ed0-a6b0-061c7a649011.gif' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_509743918775010179-ee3dd65c-013a-4ed0-a6b0-061c7a649011.gif' | file_img_url: 'master' }} 1440w" width="1920" height="1282" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:1920/1282;--aspect-tablet:1920/1282;--aspect-mobile:1920/1282;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_509743918775010179-ee3dd65c-013a-4ed0-a6b0-061c7a649011.gif" | file_url }}" data-srcset="{{ 'gempages_509743918775010179-ee3dd65c-013a-4ed0-a6b0-061c7a649011.gif' | file_img_url: '768x768' }} 768w, {{ 'gempages_509743918775010179-ee3dd65c-013a-4ed0-a6b0-061c7a649011.gif' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_509743918775010179-ee3dd65c-013a-4ed0-a6b0-061c7a649011.gif' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1920" height="1282" alt="Alt image"
      sizes="100vw"
      style="--aspect:1920/1282;--aspect-tablet:1920/1282;--aspect-mobile:1920/1282;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
      <style
        id="custom-css-g5TWWaNBjn"
      >.g5TWWaNBjn {

}
.g5TWWaNBjn > figure > img {

}</style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:0"
      class="g5HQLbT3Cy gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gg832Zou98"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:30px;--pl:30px;--pb:30px;--pr:30px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:30px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gg832Zou98 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gOhRWOLAIz gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gijce1KVrV "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ml:30px;--mr:30px;--mt-mobile:25px;--ml-mobile:30px;--mr-mobile:30px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--weight:700;--lh:120%;--size:30px;--size-tablet:30px;--size-mobile:22px;--c:var(--g-c-text-2, text-2);--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggijce1KVrV_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gQWXThB4pt "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--lh:26px;--size:17px;--size-tablet:16px;--size-mobile:16px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggQWXThB4pt_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gNBNy86WEz"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:50px;--pt:10px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:20px;--pt-mobile:10px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNBNy86WEz gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:1"
      class="gVTBKo9SII gp-relative gp-flex gp-flex-col"
    >
      
    <div
      
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gLRJA3SZtn"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--aspect:auto"
    >
      
    
    <video
      id="gp-video-gLRJA3SZtn"
      class="lazy gp-w-full"
      style="--aspect:auto"
      
      loop
      muted
      autoplay playsinline
      title="Video"
      preload="metadata"
      data-src="https://cdn.shopify.com/videos/c/o/v/8f42d67ce1144edfa856eadf4110bdb4.mp4"
      poster=""
    >
      <source data-src="https://cdn.shopify.com/videos/c/o/v/8f42d67ce1144edfa856eadf4110bdb4.mp4" type="video/mp4"></source>
    </video>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}</script>
  
    </div>
  
      <style
        id="custom-css-gLRJA3SZtn"
      >.gLRJA3SZtn[data-component-label="Video"] {

}</style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:1"
      class="gKHscTlNVI gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gomurF88AO"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:30px;--pl:30px;--pb:30px;--pr:30px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:30px;--pb-tablet:0px;--pr-tablet:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gomurF88AO gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gp-jPdJm4J gp-relative gp-flex gp-flex-col"
    >
      
    <div
      
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gVKP60IWKd"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--aspect:1/1;--aspect-mobile:auto"
    >
      
    
    <video
      id="gp-video-gVKP60IWKd"
      class="lazy gp-w-full"
      style="--aspect:1/1;--aspect-mobile:auto"
      
      loop
      muted
      autoplay playsinline
      title="Video"
      preload="metadata"
      data-src="https://cdn.shopify.com/videos/c/o/v/8f42d67ce1144edfa856eadf4110bdb4.mp4"
      poster=""
    >
      <source data-src="https://cdn.shopify.com/videos/c/o/v/8f42d67ce1144edfa856eadf4110bdb4.mp4" type="video/mp4"></source>
    </video>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}</script>
  
    </div>
  
      <style
        id="custom-css-gVKP60IWKd"
      >.gVKP60IWKd[data-component-label="Video"] {

}</style>
    
    <div
      parentTag="Col"
        class="gO2jIeOXSI "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ml:30px;--mr:30px;--mt-mobile:25px;--ml-mobile:0px;--mr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--weight:700;--lh:120%;--size:30px;--size-tablet:30px;--size-mobile:22px;--c:var(--g-c-text-2, text-2);--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggO2jIeOXSI_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gVj1qCoKzn "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--lh:26px;--size:17px;--size-tablet:16px;--size-mobile:16px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggVj1qCoKzn_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 7",
      "tag": "section",
      "class": "gps-514948933370250055 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/add-on-design/apps/bold/app/shopify/edit?pageType=GP_INDEX&editorId=514948933336761159&sectionId=514948933370250055)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"},{"type":"html","id":"ggijce1KVrV_text","label":"ggijce1KVrV_text","default":"Elevate Your Ride with World-Class Car Ambient Lights!"},{"type":"html","id":"ggQWXThB4pt_text","label":"ggQWXThB4pt_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(24,20,20);font-size:17px;\">Enhance your driving experience with our world-class car ambient lights. Elevate the atmosphere, blend of style and innovation of your ride to new heights. Discover the ultimate upgrade today and transform your vehicle into a captivating haven of unmatched excellence!</span></p>"},{"type":"html","id":"ggO2jIeOXSI_text","label":"ggO2jIeOXSI_text","default":"Ignite your ride with world-class car essentials!"},{"type":"html","id":"ggVj1qCoKzn_text","label":"ggVj1qCoKzn_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:#110000;font-size:17px;\">Experience the feeling of driving with faith as our top-notch car set-up enhances your ride. Elevate aesthetics, performance with style, and hit the road in ultimate composure and comfort.</span></p>"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
