
  <style> @import url('https://fonts.googleapis.com/css?family=Montserrat:700,400&display=swap'); </style>
  <style> .gps-512092045779731368 .gp-invisible{visibility:hidden}.gps-512092045779731368 .gp-absolute{position:absolute}.gps-512092045779731368 .gp-relative{position:relative}.gps-512092045779731368 .gp-z-1{z-index:1}.gps-512092045779731368 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-512092045779731368 .gp-mb-0{margin-bottom:0}.gps-512092045779731368 .\!gp-inline{display:inline!important}.gps-512092045779731368 .gp-flex{display:flex}.gps-512092045779731368 .gp-inline-flex{display:inline-flex}.gps-512092045779731368 .gp-grid{display:grid}.gps-512092045779731368 .\!gp-hidden{display:none!important}.gps-512092045779731368 .gp-hidden{display:none}.gps-512092045779731368 .gp-h-5{height:20px}.gps-512092045779731368 .gp-h-full{height:100%}.gps-512092045779731368 .gp-w-5{width:20px}.gps-512092045779731368 .gp-w-full{width:100%}.gps-512092045779731368 .gp-max-w-full{max-width:100%}.gps-512092045779731368 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-512092045779731368 .gp-flex-col{flex-direction:column}.gps-512092045779731368 .gp-items-center{align-items:center}.gps-512092045779731368 .gp-justify-center{justify-content:center}.gps-512092045779731368 .gp-gap-y-0{row-gap:0}.gps-512092045779731368 .gp-overflow-hidden{overflow:hidden}.gps-512092045779731368 .gp-break-words{overflow-wrap:break-word}.gps-512092045779731368 .gp-rounded-none{border-radius:0}.gps-512092045779731368 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-512092045779731368 .gp-no-underline{text-decoration-line:none}.gps-512092045779731368 .gp-opacity-25{opacity:.25}.gps-512092045779731368 .gp-opacity-75{opacity:.75}.gps-512092045779731368 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-512092045779731368 .gp-duration-200{transition-duration:.2s}.gps-512092045779731368 .gp-duration-300{transition-duration:.3s}.gps-512092045779731368 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-512092045779731368 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-512092045779731368 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-512092045779731368 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-512092045779731368 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-512092045779731368 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-512092045779731368 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-512092045779731368 .tablet\:\!gp-hidden{display:none!important}.gps-512092045779731368 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-512092045779731368 .mobile\:\!gp-hidden{display:none!important}.gps-512092045779731368 .mobile\:gp-hidden{display:none}}.gps-512092045779731368 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-512092045779731368 .\[\&_p\]\:gp-inline p{display:inline}.gps-512092045779731368 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-512092045779731368 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-512092045779731368 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gnzz2Zsmf2"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:50px;--pb:50px;--pt-tablet:30px;--pl-tablet:20px;--pb-tablet:30px;--pr-tablet:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gnzz2Zsmf2 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gl8UdGFFEL gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gTg7NkKTMR"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:5px;--pl:5px;--pb:5px;--pr:5px;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gTg7NkKTMR gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:0"
      class="gmoWyNdJWA gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gQOUU5YgB7"
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_509743918775010179-a4cf97b0-bab2-4498-bdb8-7d09e5904a07.png" | file_url }}" srcset="{{ 'gempages_509743918775010179-a4cf97b0-bab2-4498-bdb8-7d09e5904a07.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_509743918775010179-a4cf97b0-bab2-4498-bdb8-7d09e5904a07.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_509743918775010179-a4cf97b0-bab2-4498-bdb8-7d09e5904a07.png' | file_img_url: 'master' }} 1440w" width="520" height="519" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:520/519;--aspect-tablet:520/519;--aspect-mobile:520/519;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_509743918775010179-a4cf97b0-bab2-4498-bdb8-7d09e5904a07.png" | file_url }}" data-srcset="{{ 'gempages_509743918775010179-a4cf97b0-bab2-4498-bdb8-7d09e5904a07.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_509743918775010179-a4cf97b0-bab2-4498-bdb8-7d09e5904a07.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_509743918775010179-a4cf97b0-bab2-4498-bdb8-7d09e5904a07.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="520" height="519" alt="Alt image"
      sizes="100vw"
      style="--aspect:520/519;--aspect-tablet:520/519;--aspect-mobile:520/519;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:1"
      class="g6YPDnS20n gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gx0-qCtbhl"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:30px;--pl:30px;--pb:30px;--pr:30px;--pt-mobile:30px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gx0-qCtbhl gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gHmX4YFccH gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gluoBL-tW5 "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--weight:700;--lh:120%;--size:30px;--size-tablet:30px;--size-mobile:22px;--c:var(--g-c-text-2, text-2);--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggluoBL-tW5_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="glujCeSolj "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--lh:26px;--size:17px;--size-tablet:16px;--size-mobile:16px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gglujCeSolj_text }}</div>
      </div>
    </div>
  <gp-button style="">
  <div
    
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:25px;--mt-mobile:15px;--ta:center;--ta-mobile:center"
    class=""
  >
    <style>
    .gnqW0zH4La.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gnqW0zH4La:hover::before {
      
      
    }
  </style>
    <a
      href="{{ shop.url }}{{ routes.root_url | split: '/' | join: '/' }}/products/car-door-welcome-pedal-luminous-threshold-bar-wireless-magic-color-car-atmosphere-light-change-decoration-led-streamer-breathing" target="_self" data-id="gnqW0zH4La" aria-label="Shop Now"
      
      data-state="idle"
      class="gnqW0zH4La gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-flex-row-reverse gp-text-g-text-3"
      style="--hvr-bg:#000000;--bg:#451E5D;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--hvr-c:#ffffff;--c:var(--g-c-text-3, text-3);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:;--h-tablet:;--h-mobile:;--pl:30px;--pr:30px;--pt:8px;--pb:8px;--tt:capitalize;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:700;--ls:0px;--lh:180%;--size:24px;--size-tablet:16px;--size-mobile:14px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.ggnqW0zH4La_label | downcase }}
      </span>
    </a>
  </div>
  </gp-button>

    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 3",
      "tag": "section",
      "class": "gps-512092045779731368 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/add-on-design/apps/bold/app/shopify/edit?pageType=GP_INDEX&editorId=512092045729399720&sectionId=512092045779731368)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"},{"type":"text","id":"ggluoBL-tW5_text","label":"ggluoBL-tW5_text","default":"Driving Success: Over 70,000 Satisfied Customers Transformed"},{"type":"text","id":"gglujCeSolj_text","label":"gglujCeSolj_text","default":"<p><span style=\"background-color:#FFFFFF;color:#000000;font-size:18px;\">Embark on an Extraordinary Journey to Automotive Excellence Today! Discover the thrill of our thriving community as we elevate our rides together. Join us in this incredible experience of Car Enhancement.&nbsp;</span></p>"},{"type":"text","id":"ggnqW0zH4La_label","label":"ggnqW0zH4La_label","default":"Shop Now"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
