
   <style> @import url('https://fonts.googleapis.com/css?family=Montserrat:700,400&display=swap'); </style>
  <style> .gps-512092045762954152 .gp-invisible{visibility:hidden}.gps-512092045762954152 .gp-absolute{position:absolute}.gps-512092045762954152 .gp-relative{position:relative}.gps-512092045762954152 .gp-z-1{z-index:1}.gps-512092045762954152 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-512092045762954152 .gp-mb-0{margin-bottom:0}.gps-512092045762954152 .gp-flex{display:flex}.gps-512092045762954152 .gp-inline-flex{display:inline-flex}.gps-512092045762954152 .gp-grid{display:grid}.gps-512092045762954152 .\!gp-hidden{display:none!important}.gps-512092045762954152 .gp-hidden{display:none}.gps-512092045762954152 .gp-h-5{height:20px}.gps-512092045762954152 .gp-h-full{height:100%}.gps-512092045762954152 .gp-w-5{width:20px}.gps-512092045762954152 .gp-w-full{width:100%}.gps-512092045762954152 .\!gp-max-w-none{max-width:none!important}.gps-512092045762954152 .gp-max-w-full{max-width:100%}.gps-512092045762954152 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-512092045762954152 .gp-flex-col{flex-direction:column}.gps-512092045762954152 .gp-items-center{align-items:center}.gps-512092045762954152 .gp-justify-center{justify-content:center}.gps-512092045762954152 .gp-gap-y-0{row-gap:0}.gps-512092045762954152 .gp-overflow-hidden{overflow:hidden}.gps-512092045762954152 .gp-break-words{overflow-wrap:break-word}.gps-512092045762954152 .gp-rounded-none{border-radius:0}.gps-512092045762954152 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-512092045762954152 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-512092045762954152 .gp-no-underline{text-decoration-line:none}.gps-512092045762954152 .gp-opacity-25{opacity:.25}.gps-512092045762954152 .gp-opacity-75{opacity:.75}.gps-512092045762954152 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-512092045762954152 .gp-duration-200{transition-duration:.2s}.gps-512092045762954152 .gp-duration-300{transition-duration:.3s}.gps-512092045762954152 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-512092045762954152 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-512092045762954152 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-512092045762954152 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-512092045762954152 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-512092045762954152 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-512092045762954152 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-512092045762954152 .tablet\:\!gp-hidden{display:none!important}.gps-512092045762954152 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-512092045762954152 .mobile\:\!gp-hidden{display:none!important}.gps-512092045762954152 .mobile\:gp-hidden{display:none}}.gps-512092045762954152 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-512092045762954152 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1023px){.gps-512092045762954152 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-512092045762954152 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}.gps-512092045762954152 .\[\&_p\]\:gp-inline p{display:inline}.gps-512092045762954152 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-512092045762954152 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-512092045762954152 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gd0nihIBA_"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:50px;--pb:50px;--pt-tablet:30px;--pl-tablet:10px;--pb-tablet:30px;--pr-tablet:10px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gd0nihIBA_ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gNM1_OJew0 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gyUMTd9Lz5"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:10px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gyUMTd9Lz5 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0XyOH5nky gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gGSYLfYpcU"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:5px;--pl:5px;--pb:5px;--pr:5px;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gGSYLfYpcU gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:0"
      class="gd2LHMLHgo gp-relative gp-flex gp-flex-col"
    >
      
    <div
      
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gr6YJ_73O1"
      style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--aspect:auto"
    >
      
    
    <video
      id="gp-video-gr6YJ_73O1"
      class="lazy gp-w-full"
      style="--aspect:auto"
      
      loop
      muted
      autoplay playsinline
      title="Video"
      preload="metadata"
      data-src="https://cdn.shopify.com/videos/c/o/v/9e547b4658c94d41a1d0028941012128.mp4"
      poster=""
    >
      <source data-src="https://cdn.shopify.com/videos/c/o/v/9e547b4658c94d41a1d0028941012128.mp4" type="video/mp4"></source>
    </video>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}</script>
  
    </div>
  
      <style
        id="custom-css-gr6YJ_73O1"
      >.gr6YJ_73O1[data-component-label="Video"] {

}</style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:1"
      class="gCqIOu9o3X gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gJHA4qaRNQ"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:30px;--pl:30px;--pb:30px;--pr:30px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:30px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJHA4qaRNQ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gsNUrc5gap gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gcoxQ26SVz "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ml:30px;--mr:30px;--mt-mobile:25px;--ml-mobile:30px;--mr-mobile:30px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--weight:700;--lh:120%;--size:30px;--size-tablet:30px;--size-mobile:22px;--c:var(--g-c-text-2, text-2);--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggcoxQ26SVz_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="ghrQISSH1Q "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:10px;--ml:-10px;--mr:-10px;--mt-mobile:10px;--ml-mobile:0px;--mr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--lh:26px;--size:17px;--size-tablet:16px;--size-mobile:16px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gghrQISSH1Q_text }}</div>
      </div>
    </div>
  <gp-button style="">
  <div
    
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:25px;--mt-mobile:15px;--ta:center;--ta-mobile:center"
    class=""
  >
    <style>
    .g511YncE_M.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .g511YncE_M:hover::before {
      
      
    }
  </style>
    <a
      href="{{ shop.url }}{{ routes.root_url | split: '/' | join: '/' }}/products/car-door-welcome-pedal-luminous-threshold-bar-wireless-magic-color-car-atmosphere-light-change-decoration-led-streamer-breathing" target="_self" data-id="g511YncE_M" aria-label="Grab Deal Now"
      
      data-state="idle"
      class="g511YncE_M gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-flex-row-reverse gp-text-g-text-3"
      style="--hvr-bg:#000000;--bg:#451E5D;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--hvr-c:#ffffff;--c:var(--g-c-text-3, text-3);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:;--h-tablet:;--h-mobile:;--pl:32px;--pr:32px;--pt:12px;--pb:12px;--tt:capitalize;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:700;--ls:0px;--lh:180%;--size:24px;--size-tablet:16px;--size-mobile:14px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.gg511YncE_M_label | downcase }}
      </span>
    </a>
  </div>
  </gp-button>

    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 5",
      "tag": "section",
      "class": "gps-512092045762954152 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/add-on-design/apps/bold/app/shopify/edit?pageType=GP_INDEX&editorId=512092045729399720&sectionId=512092045762954152)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"},{"type":"text","id":"ggcoxQ26SVz_text","label":"ggcoxQ26SVz_text","default":"<strong>Experience the night with style &amp; coolness</strong>"},{"type":"text","id":"gghrQISSH1Q_text","label":"gghrQISSH1Q_text","default":"<p><span style=\"background-color:#FFFFFF;color:#000000;font-size:19px;\"><strong>Unleash the thrill</strong></span><span style=\"background-color:#FFFFFF;color:#000000;font-size:18px;\"> of style and coolness as the night comes alive. Elevate your ride's aesthetics with our cutting-edge products that shines anytime anywhere. Experience it now!</span></p>"},{"type":"text","id":"gg511YncE_M_label","label":"gg511YncE_M_label","default":"Grab Deal Now"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
